*,
*::after,
*:before{
    box-sizing:border-box;
}
.menu-item::after{
    border:1px solid #555;
    content:"";
    height:100%;
    position:absolute;
    top:0;
    right:0;
    width:0.5px;
}
.menu-item {
    border-right: 1px solid #222;
}

